<button nz-button nzType="primary" (click)="showModal()">
  <span>Ir al Detalle</span>
</button>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Detalle Tarea" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
    <div class="grid">
      <div class="col-8"><h3 nz-typography>{{ taskDetail?.nameTask }} </h3>
        <nz-badge [nzStatus]="taskDetail?.state == getStateComplete() ? 'success' :  'error'">{{ taskDetail?.state }}
        </nz-badge>
      </div>
      <div class="col-3 grid-rigth">
        <p nz-typography nzType="secondary">{{ taskDetail?.dateTask | date }}</p>
      </div>
    </div>

    <ul style="list-style: none" *ngFor="let item of taskDetail?.associatedTasks">
      <li>
        <p><strong>Nombre Completo:</strong> {{ item.nameUser }}</p>
        <p><strong>Edad:</strong> {{ item.nameAge }}</p>
        <p><strong>Habilidades:</strong> {{ item.skills.join(", ") }}</p>
      </li>
      <nz-divider></nz-divider>
    </ul>

  </div>
  <div *nzModalFooter>
    <div *ngIf="taskDetail?.state == getStatePending()">
      <button nz-button nzType="primary" (click)="handleOk(taskDetail?.id)" [nzLoading]="isConfirmLoading">Completar
        Tarea
      </button>
    </div>
  </div>
</nz-modal>
