<div class="grid">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="grid padding-10">
      <div class="col-10"></div>
      <div class="col-2 grid-right">
        <button nz-button (click)="navigateToCreateTask()" nzType="primary">Crear Tarea</button>
      </div>
    </div>
    <nz-table [nzPageSize]="8"  #taskTable [nzData]="listTasks" nzTableLayout="fixed">
      <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th nzRight></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of taskTable.data">
        <td>{{ item.id }}</td>
        <td>{{ item.nameTask }}</td>
        <td>{{ item.dateTask | date }}</td>
        <td>
          <nz-badge [nzStatus]="item.state == getStateComplete() ? 'success' :  'error'">{{ item.state }}</nz-badge>
        </td>
        <td>
          <app-detail-task [idTask]="item.id"/>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="col-1"></div>
</div>
